<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642648323862-cjmk6pue0o6sgaq9v6ljc4gfv21n557v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642648323862-cjmk6pue0o6sgaq9v6ljc4gfv21n557v</string>
	<key>API_KEY</key>
	<string>AIzaSyBoP1aj2VE19YuYjEPnwOjXXxSPh1fRH9I</string>
	<key>GCM_SENDER_ID</key>
	<string>642648323862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raj.EComMVP</string>
	<key>PROJECT_ID</key>
	<string>laundryecom</string>
	<key>STORAGE_BUCKET</key>
	<string>laundryecom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642648323862:ios:a3bd0eb99b915849</string>
	<key>DATABASE_URL</key>
	<string>https://laundryecom.firebaseio.com</string>
</dict>
</plist>